{% extends 'base.html' %} {% load static %} {% block content %}
<div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h4 class="m-b-10">Home</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h5>Delete Category</h5></div>
              <div class="card-category">Page Subtitle</div>
            </div>

            <div class="col-md-6">
              <div class="card-body">
                <form class="" action="" method="post" novalidate>
                  <p>Are you sure you want to delete "{{ object }}"?</p>
                  {% csrf_token %} {% include 'includes/form.html' %}
                    <div class="form-group">
                      <div class="col-md-12 col-sm-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
{% endblock %}