{% extends 'base.html' %} {% load static %} {% block content %}

<div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h4 class="m-b-10">Home</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
       <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted fw-bold">Total Tasks</h6><br>
              <h4 class="mb-3"><span class="border border-primary px-2 py-1 rounded bg-primary text-white">{{total_tasks}}</span><!-- text --></span></h4>
              <p class="mb-0 text-muted text-sm">You have a total <span class="text-primary">{{total_tasks}}</span> tasks created
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted fw-bold">Total Subtasks</h6><br>
              <h4 class="mb-3"><span class="border border-success px-2 py-1 rounded bg-success text-white">{{total_subtasks}}</span><!-- text --></h4>
              <p class="mb-0 text-muted text-sm">You have extra <span class="text-success">{{total_subtasks}}</span> subtasks this year</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted fw-bold">Due Today</h6><br>
              <h4 class="mb-3"><span class="border border-warning px-2 py-1 rounded bg-warning text-white">{{due_today}}</span><!-- text --></h4>
              <p class="mb-0 text-muted text-sm">You have <span class="text-warning">{{due_today}}</span> task need to accomplish today</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted fw-bold">Missed Deadlines</h6><br>
              <h4 class="mb-3"><span class="border border-danger px-2 py-1 rounded bg-danger text-white">{{overdue}}<!-- text --></span></h4>
              <p class="mb-0 text-muted text-sm">You have missed <span class="text-danger">{{overdue}}</span> this year
              </p>
            </div>
          </div>
        </div>
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><b>Home Page<b></div>
              
            </div>
            <div class="card-body">
              <h5>Hello!</h5>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>

{% endblock %}