{% extends 'base.html' %} {% load static %} {% block content %}
<div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h4 class="m-b-10">Home</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><h4>List of Task</h4></div>
              <div class="card-category"></div>
            </div>
            <br />
                <div class="col-md-12 row">
                  <div class="col-md-6">
                    <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'task-list' %}">
                      <div class="datatable-search sm-12 ms-3">
                          <input type="text" placeholder="Search here..." class="form-control"  name="q"/>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <div class="pull-right">
                      <a href="{% url 'task-add' %}" class="btn btn-success">Add New Task</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 sm-12 ms-4">
                  <form method="get" class="row g-4 align-items-center">
                    <div class="col-auto">
                      <label for="smallSelect" class="col-form-label">Sort by</label>
                    </div>
                    <div class="col-auto">
                      <select class="form-select form-select-sm" id="smallSelect" name="sort_by">
                        <option value="title" {% if request.GET.sort_by == "title" %}selected{% endif %}>Title</option>
                        <option value="status" {% if request.GET.sort_by == "status" %}selected{% endif %}>Status</option>
                        <option value="deadline" {% if request.GET.sort_by == "deadline" %}selected{% endif %}>Deadline</option>
                        <option value="category__name" {% if request.GET.sort_by == "category__name" %}selected{% endif %}>Category</option>
                        <option value="priority__name" {% if request.GET.sort_by == "priority__name" %}selected{% endif %}>Priority</option>
                      </select>
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary btn-sm">Sort</button>
                    </div>
                  </form>
                </div>
            <div class="card-body">
              <div class="card-body table-border-style">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Category</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                      <tr>
                        <td>{{ object.title }}</td>
                        <td>{{ object.status }}</td>
                        <td>{{ object.deadline }}</td>
                        <td>{{ object.priority }}</td>
                        <td>{{ object.category }}</td>
                        <td>
                          <a href="task_list/{{ object.id }}"title="Edit" class="text-primary">
                            <i class="fas fa-edit"></i>&nbsp&nbsp&nbsp
                          </a>
                          <a href="task_list/{{ object.id }}/delete" title="Delete" class="text-danger">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="4" style="text-align: center">
                          <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% include 'includes/pagination.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
{% endblock %}